<header>
  <nav>
    <div class="logo">
      <img src="assets/images/robot-arm-left.png" />
      <h2>{{ "navbar.logo.factoryManager" | translate }}</h2>
      <img src="assets/images/robot-arm-right.png" />
    </div>
    <ul class="menu">
      <li>
        <a href="#">{{ "navbar.menu.warehouses" | translate }}</a>
        <ul class="submenu">
          <li>
            <a href="#">{{ "navbar.menu.basicWarehouse" | translate }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">{{ "navbar.menu.orders" | translate }}</a>
        <ul class="submenu">
          <li>
            <a href="#">{{ "navbar.menu.newOrder" | translate }}</a>
          </li>
          <li>
            <a href="#">{{ "navbar.menu.statusOrder" | translate }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">{{ "navbar.menu.documents" | translate }}</a>
        <ul class="submenu">
          <li>
            <a href="#">{{ "navbar.menu.invoices" | translate }}</a>
          </li>
          <li>
            <a href="#">{{ "navbar.menu.reclamation" | translate }}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">{{ "navbar.menu.clients" | translate }}</a>
      </li>
      <li>
        <a href="#">{{ "navbar.menu.workers" | translate }}</a>
      </li>
    </ul>
  </nav>
</header>
